<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://kit.fontawesome.com/68b00e75de.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="sub-container">
            <h1 class="heading">search movie</h1>
            <form action="/" method="POST">
                <i class="fas fa-search fa-2x search-icon"></i><input class="search-bar" type="search" name="movie" autofocus>
            <button class="btn"> Search </button>
        </form>
        </div>
    </div>
</body>
</html>