<%-include("./partials/header")-%>
<div class="container">
    <div class="sub-container">
        <h1 class="heading">search movie</h1>
        <form action="/" method="POST">
            <i class="fas fa-search fa-2x search-icon"></i><input class="search-bar" type="search" name="movie" autofocus>
        <button class="btn"> Search </button>
    </form>
    </div>
</div>
<%-include("./partials/footer")-%>